[Unit]
Description=WLAN-Konfiguration aus USB-Share laden
DefaultDependencies=no
Before=network-pre.target wpa_supplicant.service
After=local-fs.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/wifi_connect.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=sysinit.target
